.gr {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 251px;
  background-color: #86d3f4;

  h5 {
   
    font-size: 16px;
    line-height: 18px;
}
img {
    width: 126px;
    height: 126px;
    margin-bottom: 20px;
}
p{
    padding: 0 50px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}
}
.gr_info{
    padding: 20px 10px;
}
